html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
body{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 122.1%;
    color: #606060;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 10px;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.box,
.btn{
    display: flex;
    align-items: center;
}
.btn{
    border: none;
    cursor: pointer;
}
.title{
    text-transform: uppercase;
    font-size: 32px;
    line-height: 44px;
    font-weight: 800;
}
.catalog__btn,
.consultation__btn,
.buy__btn,
.order__btn,
.order__btn--400{
    border-radius: 25px;
    background: #73C1F2;
}
.catalog__btn:hover,
.consultation__btn:hover,
.buy__btn:hover,
.order__btn:hover,
.order__btn--400:hover{
    border-radius: 25px;
    background: #0487D9;
}
.catalog__btn:active,
.consultation__btn:active,
.buy__btn:active,
.order__btn:active,
.order__btn--400:hover{
    border-radius: 25px;
    background: #0487D9;
}
.catalog__btn{
    gap: 20px;
    padding: 16px 36px 17px 27px;
}
.consultation__btn{
    gap: 17px;
    padding: 16px 73px 17px 27px;
}
.buy__btn{
    padding: 16px 71px 17px 27px;
    gap: 19px;
}
.order__btn,
.order__btn--400{
    gap: 20px;
    padding: 16px 57px 17px 27px;
}
.swiper-wrapper{
    box-sizing: content-box;
}
