.header{
    background-image: url(../images/header\ bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.header__top{
    display: flex;
    align-items: center;
    padding: 22px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
#header__top-2{
    display: none;
}
.header__top-text{
    font-size: 16px;
    font-weight: 700;
    margin-right: 77px;
    width: 146px;
    text-transform: uppercase;
}
.place__box{
    gap: 13px;
    margin-right: 42px;
}
.place__text{
    width: 193px;
}
.time__box{
    gap: 16px;
    margin-right: 44px;
}
.time__text{
    width: 148px;
}
.phone__box{
    gap: 13px;
    margin-right: 44px;
}
.number__box{
    display: flex;
    flex-direction: column;
}
.mail__box{
    gap: 11px;
    margin-right: 78px;
}
.social__list{
    display: flex;
    gap: 5px;
}
.devider{
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.header__bottom{
    padding: 20px 0 240px;
}
#header__bottom-2{
    display: none;
}
.header__bottom-top{
    display: flex;
    gap: 75px;
    align-items: center;
}
.menu__list{
    display: flex;
    gap: 26px;
}
.menu__link{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.order__btn{
    gap: 20px;
    border-radius: 25px;
    background: #73C1F2;
    padding: 16px 57px 17px 27px;
}
.header__bottom-title{
    font-size: 65px;
    font-weight: 700;
    line-height: 75px;
    width: 591px;
    margin: 81px auto 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.btn__box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    gap: 22px;
}
.main{
    position: relative;
    background-color: #fff;
}
.offer{
    width: 1073px;
    background-image: url(../images/offer__bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 60px;
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
}
.offer__overlay{
    background: linear-gradient(268deg, rgba(115, 193, 242, 0.80) 0.71%, rgba(60, 156, 217, 0.80) 97.31%);
    width: 100%;
    height: 100%;
    padding: 39px 0 78px;
    border-radius: 60px;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.14);
}
.offer__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.offer__title{
    color: #fff;
}
.offer__title:first-child{
    width: 461px;
}
#button-400{
    display: none;
}
.offer .order__btn{
    background-color: #52575A;
    border: 1px solid #fff;
}
.offer .order__btn:hover,
.offer .order__btn:active{
    background-color: #404040;
}
.timer{
    display: flex;
    gap: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
}
.timer__item{
    width: 50px;
    height: 50px;
}
.taimer__number{
    padding: 13px;
    border-radius: 7px;
    border: 1px solid #FFF;
}
.taimer__text{
    font-size: 10px;
    font-weight: 300;
}
.application__overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}
.application__content{
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-5000%);
    z-index: 1;
    width: 825px;
    height: 333px;
    border-radius: 50px;
    background: #73C1F2;
    margin-top: 100px;
    padding: 18px 34px 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.application__top{
    display: flex;
    margin-left: 151px;
}
.application__title{
    color: #FFF;
    margin: 0 113px 33px 0;
    width: 453px;
}
.close__btn{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.application__form{
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
}
.application__input{
    width: 240px;
    height: 57px;
    border-radius: 25px;
    background: #FFF;
    padding: 16px 68px 17px;
    color: #606060;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    background-repeat: no-repeat;
    border: none;
}
.application__input:first-child{
    background-image: url(../images/contact-black.svg);
    background-position: 37px 14px;
}
.application__input:nth-child(2){
    background-image: url(../images/place-black.svg);
    background-position: 37px 18px;
}
.application__input:nth-child(3){
    background-image: url(../images/time-black.svg);
    background-position: 37px 18px;
}
.application__btn-box{
    width: 100%;
}
.application-order__btn{
    margin: 0 auto;
    background: #52575A;
    gap: 20px;
    padding: 16px 57px 17px 27px;
    border-radius: 25px;
}
.application-order__btn:hover,
.application-order__btn:active{
    background-color: #404040;
}
.application__show{
    transform: translateX(-50%);
}
.cotli{
    padding: 396px 0 77px;
}
.cotli__title {
    text-align: center;
    margin-bottom: 46px;
}
.logo__list{
    display: flex;
    align-items: center;
    margin-bottom: 77px;
}
#cotli__logo-2{
    display: none;
}
.logo__item{
    border-radius: 20px;
    border: 4px solid #73C1F2;
}
.logo__item--thermex{
    padding: 97px 45px;
    margin-right: 77px;
}
.logo__item--mizudo{
    padding: 63px 45px;
    margin-right: 79px;
}
.logo__item--havein{
    padding: 112px 45px;
    margin-right: 73px;
}
.logo__item--baxi{
    padding: 97px 45px;
}
.products__items{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.products__item{
    display: flex;
    border-radius: 30px;
    border: 1px solid #606060;
}
.products__item-img{
    margin-right: 36px;
}
.products__item-content{
    display: flex;
    flex-direction: column;
}
.products__item-title{
    width: 280px;
    padding: 20px 0 19px;
}
.productsi__item-text{
    margin: 0 9px 24px 0;
}
.products__price{
    display: flex;
    gap: 7px;
    align-items: center;
}
.products__contacts{
    padding: 24px 25px 19px 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-left: 1px solid #606060;
}
.products__contacts-box{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.product__user{
    margin-right: 21px;
}
.product__medal{
    margin-right: 26px;
}
.products__score{
    display: flex;
    align-items: center;
    gap: 6px
}
.product__score{
    color: #73C1F2;
    font-weight: 500;
    line-height: normal;
}
.stars__box{
    display: flex;
    gap: 1.75px;
}
.products__contacts-text{
    margin-bottom: 9px;
    font-size: 12px;
}
.products__contacts .consultation__btn{
    margin-bottom: 5px;
}
.products__contacts .buy__btn{
    margin-bottom: 16px;
}
.products__item--Mizudo .productsi__item-text{
    margin-bottom: 44px;
}
.products__item--NAVIEN .productsi__item-text{
    margin-bottom: 60px;
}
.boilery{
    margin-bottom: 54px;
}
.boilery__title {
    text-align: center;
    margin-bottom: 46px;
}
#boilery__logo-2{
    display: none;
}
.logo__item--hajdu{
    padding: 109px 30px;
    margin-right: 89px;
}
.logo__item--Royal_Thermo{
    padding: 45px 57px;
}
.boilery .logo__list{
    justify-content: center;
}
.products__item--hajdu .products__item-title{
    width: 161px;
}
.products__item--hajdu .productsi__item-text{
    margin-bottom: 60px;
}
.products__item--Royal_Thermo .products__item-title{
    width: 242px;
}
.consultation{
    max-width: 1073px;;
    margin: 0 auto 54px;
    padding: 95px 0 163px 88px;
    border-radius: 60px;
    background: url(../images/consultation-bg.png);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 18px;
}
.consultation__title{
    color: #FFF;
    width: 377px;
}
.consultation .consultation__btn{
    display: inline-flex;
}
.equipment{
    background-image: url(../images/equipment__overlay.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.equipment__overlay{
    background: linear-gradient(266deg, rgba(169, 198, 216, 0.90) 1.59%, rgba(60, 156, 217, 0.90) 97.25%);
    width: 100%;
    height: 100%; 
    padding: 46px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 69px;
}
.equipment__title{
    width: 827px;
    color: #FFF;
    text-align: center;
}
.equipment__items{
    display: flex;
    gap: 86px;
    align-items: center;
}
.equipment__items + .equipment__items{
    align-items: baseline;
}
.equipment__item{
    text-align: center;
}
.equipment__img{
    border-radius: 20px;
    border: 3px solid #FFF;
    width: 240px;
    height: 240px;
    margin-bottom: 11px;
}
.equipment__text{
    width: 100%;
    color: #FFF;
}
#equipment__content-2{
    display: none;
}
.footer{
    padding: 38px 0 33px;
}
#footer-2{
    display: none;
}
.footer__box{
    display: flex;
    gap: 13px;
}
.footer__content{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.footer__title{
    color: #606060;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    text-transform: uppercase;
    width: 221px;
    margin-bottom: 16px;
}
.footer .place__box,
.footer .time__box,
.footer .phone__box{
    margin-bottom: 23px;
}
.footer .place__text{
    width: 208px;
}
.footer .time__text{
    width: 169px;
}
.footer .number__link,
.footer .mail__link{
    color: #606060;
    font-weight: 500;
}
.footer .mail__box{
    margin-bottom: 28px;
}
.footer-social__list{
    display: flex;
    gap: 16px;
}
.footer__iframe{
    border-radius: 60px;
    border: 3px solid #73C1F2;
    overflow: hidden;
    position: relative;
}
.footer__btn{
    border-radius: 50px;
    background: #73C1F2;
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 26px;
    right: 30px;
}